@import url('../../styles/vars.css');

.hero-background {
  background: var(--color-green);
  position: relative;
  display: flex;
}

.hero {
  height: 100%;
  padding: 2rem 0.5rem;
  display: grid;
  align-items: center;
  grid-column-gap: 2rem;
  grid-template: "info image";
  grid-template-columns: 60fr 40fr;
  max-width: 65rem;
  margin: 0 auto;
}

.title {
  color: var(--color-yellow);
  font-family: var(--font-serif);
  font-size: 3.5rem;
  line-height: 0.5rem;
}

.subtitle {
  color: white;
  font-size: 2rem;
}

p {
  color: white;
}

.image {
  grid-area: image;
  width: 100%;
  height: 20rem;
  justify-self: end;
  border-radius: var(--radius-l);
  object-fit: cover;
}

.info {
  grid-area: info;
}

@media screen and (max-width: 767px) {
  .hero-background {
    background: var(--color-green);
    height: 100%;
    display: flex;
    position: relative;
  }

  .hero {
    height: 100%;
    padding: 0 1rem;
    display: grid;
    align-items: center;
    grid-column-gap: 2rem;
    grid-template: "info " "image";
    grid-template-columns: 1fr;
    max-width: 65rem;
    margin: 0 auto;
    margin-top: 96px;
  }

  .title {
    color: var(--color-yellow);
    font-size: 32px;
    line-height: 0.5rem;
  }

  .subtitle {
    color: white;
    font-size: 2rem;
  }

  p {
    color: white;
  }

  .image {
    grid-area: image;
    width: 100%;
    height: 10rem;
    justify-self: middle;
    border-radius: var(--radius-l);
    object-fit: cover;
    margin-top: 1rem;
  }

  .info {
    grid-area: info;
  }
}

@media screen and (max-width: 450px) {

  .hero {
    height: 100%;
    padding: 0;
    display: block;
    align-items: flex-start;
    grid-column-gap: 2rem;
    max-width: 45rem;
  }
}
